@font-face {
    font-family: androide;
    src: url('fonte/idroid.otf');
}

body{
    margin:0px;
    background-color: #45f594;
}

header{
    background-image: linear-gradient(to bottom, #3BD17F, #1A5C38);
    margin:center;
}

header > h1{
    color:white;
    text-align: center;
    font-size: 30px;
    margin:0px;
    padding: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

header > p{
    color:white;
    text-align: center;
    font-style: normal;
    font-size: 23px;
    padding: 19px;
    border-right: 2px;
    border-left: 2px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header > p > span{
    text-align: center;
}

header > nav{
    padding-top: 15px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header > nav > a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

header > nav > a:hover{
    text-decoration: overline;
    color:rgba(4, 172, 40, 0.726);
}

main{
    background-color: white;
    margin: 0px 20px 0px 20px;
    margin: center;
}

main > section > h3{
    margin: 0px;
    font-family: androide;
    font-size: 23px;
    font-weight: 500;
    font-style: normal;
    color: #1A5C38;
    text-shadow: #0c2b1a41;
    padding: 20px 10px 0px 20px;
}

.formatacao{
    text-align: justify;
    text-indent: 20px;
    padding: 15px;
    margin:0px;
    font-size: 17px;
    font-weight: 500;
}

main > section > article > h3{
    font-family: androide;
    color: #1A5C38;
    text-shadow: #0c2b1a41;
    font-size: 20px;
    padding: 10px 10px 0px 20px;
    margin: 0px;
    font-weight: 500;
}

picture{
    padding: 20px;
}

.foto{
    display: block;
    margin:0px;
    margin:auto;
}

#fundo{
    background-color: #1A5C38;
}

#video{
    display: block;
    margin: 0px auto;
}

#grade{
    margin: 0px;
    padding: 10px;

}

#titulo{
    background-color: #3BD17F;  
    color: white;
    font-size: 17px;
    padding: 2px 2px 2px 2px;
    margin: 0px;
}